doctype html
html
    head
        meta(charset="utf-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Home
        link(rel='stylesheet' href="/css/home.css")
    body
        h2.grt Welcome to
        h.title LIBRA
        p.msg For using Libra, You need to Sing in
        button.sign_in(type='button' onclick="location.href='/login'") Sign in
        