doctype html
html
    head
        meta(charset="utf-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Main
        link(rel='stylesheet' href="/css/mainpage.css")
    body
        main.interface
            div.search__block Search...
            div.table__block
                div.table__heading Title
                div.table__heading Author
                div.table__heading Date
                div.table__heading Info
                div.Cell title text
                div.Cell author text
                div.Cell date text
                div.Cell info text
                div.Cell title text
                div.Cell author text
                div.Cell date text
                div.Cell info text 
